src/styles/annotation.dtd

<!-- $Id$ -->
<?thomas-michel document-status="draft" version="1.1"?>

<!ELEMENT annotation (text, notes?)>

<!ELEMENT text (#PCDATA)>
<!ELEMENT notes (note*)>

<!ELEMENT note EMPTY>
<!ATTLIST note
          id     ID     #REQUIRED
          type   CDATA  #REQUIRED
          start  CDATA  #IMPLIED
          end    CDATA  #IMPLIED
          if    CDATA  #IMPLIED
          then    CDATA  #IMPLIED
          because    CDATA  #IMPLIED
          status    CDATA  #IMPLIED
          title    CDATA  #IMPLIED
          label    CDATA  #IMPLIED
          present    CDATA  #IMPLIED
          category    CDATA  #IMPLIED
          name    CDATA  #IMPLIED
          colorIndex    CDATA  #IMPLIED
          if_tooltip    CDATA  #IMPLIED
          tooltip    CDATA  #IMPLIED
          value  CDATA  #IMPLIED>
